django==1.9
django-compressor
django-grappelli
django-libsass
django-model-utils
django-modelcluster
django-redis
django-require
# -e git+git://github.com/etianen/django-require.git#egg=django-require
django-taggit
elasticsearch
libsass==0.10.0
pillow
# By default it's installing a higher version of psycopg2 which is causing issues!
psycopg2==2.4.5
wagtail==1.4.6
