{% load latesttweets %}
{% get_twitter_user as twitter_user %}
<ul class="tweets">
  {% for tweet in tweets %}
  <li>
    <span class="tweet-header">
      <a href="http://www.twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.name }}</a>
    </span>
    ·
    <span class="date">{{ tweet.created_at|parse_date_from_twitter|date  }}</span>
    <div class="tweet-body">
      {{ tweet|tweet_to_html|safe }}
    </div>
  </li>
  {% empty %}
  <li class="empty">No tweets to show!</li>
  {% endfor %}
  <li>
    <a class="button" href="http://www.twitter.com/{{ twitter_user }}">
      <span class="fa fa-twitter-square"></span>
      Follow the project on Twitter
    </a>
  </li>
</ul>