{% extends "wagtailbase/index_page.html" %}

{% load wagtailcore_tags wagtailbase_tags %}

{% block title %}<h1 class="cat-title"><span class="bookmark"><i class="fa fa-pencil"></i></span> <a href="/blog">Blog</a></h1>{% endblock %}

{% block main %}

{% block posts_by %}
{% if filter_type == 'author' %}
<h4 class="filter-description">Showing posts by <strong>{{ filter|safe }}</strong> {% comment %}<a href="{% pageurl self %}">Show all</a>{% endcomment %}</h4>
{% endif %}
{% endblock %}

{% block posts_tagged_as %}
{% if filter_type == 'tag' %}
<h4 class="filter-description">Showing posts tagged as <strong>{{ filter|safe }}</strong> {% comment %}<a href="{% pageurl self %}">Show all</a>{% endcomment %}</h4>
{% endif %}
{% endblock %}

{% block posts_by_date %}
{% if filter_type == 'date' %}
<h4 class="filter-description">Showing posts on <strong>{{ filter|date:filter_format }}</strong> {% comment %}<a href="{% pageurl self %}">Show all</a>{% endcomment %}</h4>
{% endif %}
{% endblock %}

{% block index_page_children %}
{% include "wagtailbase/includes/blog_index_posts.html" with class="posts" %}
{% endblock %}

{% block latest_blog_post %}{% endblock %}

{% endblock %}