{% extends "wagtailbase/base.html" %}

{% block title %}{% endblock %}

{% block main %}
{% comment %}
{{ block.super }}
{% endcomment %}

<div class="row">
	<div class="large-12 columns">
		<div class="callout alert" data-closable>
			<h5><i class="fa fa-exclamation-triangle"></i> Please note</h5>
			<p>Some alert to explain that <strong>this is not the Shakespeare400 consortium site</strong>, etc.</p>
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div class="medium-6 large-4 columns">
		<div class="callout">
			<p class="date"><date><i class="fa fa-calendar"></i> 14.02.2016</date> <i class="fa fa-circle screening float-right"></i></p>
			<p class="place"><address><i class="fa fa-map-marker"></i> WC1 5BL, London</address></p>
			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category screening">Screening</p>
			<h5><a href="#">This is an event title</a></h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
			<a href="#" class="button expanded">Find out more</a>
		</div>
		<div class="callout">
			<p class="date"><date><i class="fa fa-calendar"></i> 15.02.2016 - 23.02.2016</date> <i class="fa fa-circle exhibition float-right"></i></p>
			<p class="place"><address><i class="fa fa-map-marker"></i> WC1 5RS, London</address></p>
			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category exhibition">Exhibition</p>
			<h5><a href="#">This is an event title</a></h5>
			<p> Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
			<a href="#" class="button expanded">Find out more</a>
		</div>
	</div>
	<div class="medium-6 large-4 columns">
		<div class="callout">
			<p class="date"><date><i class="fa fa-calendar"></i> 16.02.2016</date> <i class="fa fa-circle talk float-right"></i></p>
			<p class="place"><address><i class="fa fa-map-marker"></i> EC1 3DF, London</address></p>
			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category talk">Talk</p>
			<h5><a href="#">This is an event title</a></h5>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<a href="#" class="button expanded">Find out more</a>
		</div>
		<div class="callout">
			<p class="date"><date><i class="fa fa-calendar"></i> 17.02.2016</date> <i class="fa fa-circle performance float-right"></i></p>
			<p class="place"><address><i class="fa fa-map-marker"></i> WC1 5BL, London</address></p>
			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category performance">Performance</p>
			<h5><a href="#">This is an event title</a></h5>
			<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
			<a href="#" class="button expanded">Find out more</a>
		</div>
	</div>
	<div class="medium-6 large-4 columns">
		<div class="callout">
			<p class="date"><date><i class="fa fa-calendar"></i> 18.02.2016</date><i class="fa fa-circle talk float-right"></i><i class="fa fa-circle conference float-right">&nbsp;</i></p>
			<p class="place"><address><i class="fa fa-map-marker"></i> WC1 5BL, London</address></p>
			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category"><span class="conference">Conference</span> + <span class="talk">Talk</span></p>
			<h5><a href="#">This is an event title</a></h5>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
			<a href="#" class="button expanded">Find out more</a>
		</div>
		<div class="callout">
			<p class="date"><date><i class="fa fa-calendar"></i> 19.02.2016</date> <i class="fa fa-circle publication float-right"></i></p>
			<p class="place"><address><i class="fa fa-map-marker"></i> W1 3RS, London</address></p>
			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category publication">Publication</p>
			<h5><a href="#">This is an event title</a></h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a href="#" class="button expanded">Find out more</a>
		</div>
	</div>
</div>
{% endblock %}