{% extends "wagtailbase/base.html" %}

{% block title %}{% endblock %}

{% block main %}
{% comment %}
{{ block.super }}
{% endcomment %}

<div class="row">
	<div class="large-12 columns">
		<div class="callout">
			<h5>King's College Shakespeare400</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
			<p>Some alert to explain that <strong>this is not the Shakespeare400 consortium site</strong>, etc.</p>
			<p>Find out more about the project <a href="/about/">here</a>.</p>
		</div>
	</div>
</div>
<div class="row" data-equalizer data-equalize-on="medium">
	<div class="medium-6 large-4 columns">
		<div class="callout" data-equalizer-watch>
			<p class="date"><date><i class="fa fa-calendar"></i> 14.02.2016</date> <i class="fa fa-circle screening float-right"></i></p>
<!-- 			<p class="place"><address><i class="fa fa-map-marker"></i> WC1 5BL, London</address></p>
 -->			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category screening">Screening</p>
			<h5><a href="#">This is an blog title</a></h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<a href="#" class="button expanded">Find out more</a>
	</div>
	<div class="medium-6 large-4 columns">
		<div class="callout" data-equalizer-watch>
			<p class="date"><date><i class="fa fa-calendar"></i> 16.02.2016</date> <i class="fa fa-circle talk float-right"></i></p>
<!-- 			<p class="place"><address><i class="fa fa-map-marker"></i> EC1 3DF, London</address></p>
 -->			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category talk">Talk</p>
			<h5><a href="#">This is an blog title</a></h5>
			<p>It has an easy to override visual style, and is appropriately subdued. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<a href="#" class="button expanded">Find out more</a>
	</div>
	<div class="medium-6 large-4 columns">
		<div class="callout" data-equalizer-watch>
			<p class="date"><date><i class="fa fa-calendar"></i> 18.02.2016</date><i class="fa fa-circle talk float-right"></i><i class="fa fa-circle conference float-right">&nbsp;</i></p>
<!-- 			<p class="place"><address><i class="fa fa-map-marker"></i> WC1 5BL, London</address></p>
 -->			<div class="thumbnail">
				<a href="#" title="This is an event"><img src="/static/images/placeholder-300x160.png" alt="Thumbnail placeholder"></a>
			</div>
			<p class="category"><span class="conference">Conference</span> + <span class="talk">Talk</span></p>
			<h5><a href="#">This is an blog title</a></h5>
			<p>It has an easy to override visual style, and is appropriately subdued.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud.</p>
		</div>
		<a href="#" class="button expanded">Find out more</a>
	</div>
</div>
<div class="row">
	<div class="large-12 columns columns">
		<div class="callout">
			<div class="row small-up-1 medium-up-2 large-up-4">
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-66510317-to-tweet-or-not-to-.original.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-58543098-works-of-william-sh.original_dtoatkE.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-55530394-the-famous-balcony-.original_2UlqvWj.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-32407418-antique-book-illust.original_DvVEmhn.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-28859822-macbeth-illustratio.original.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-22378016-shakespeare-a-midsu.original_nMtLdwH.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-21905982-shakespeare-twelfth.original.jpg" alt="Shakespeare400"></a>
				</div>
				<div class="column">
					<a href="#" class="image"><img src="/static/media/images/stock-illustration-4446880-spooky-lake_Dq8E5LT.original.jpg" alt="Shakespeare400"></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}