@import 'settings';
@import '../vendor/foundation-sites/scss/foundation';

/**
 *	Global
 *	Header
 *	Navigation
 *	Main content
 *	Footer
 */

/** Global **/

/** Header **/

header,
footer {
	color: white;
	a {
		color: white;
	}
}
/** Navigation **/

nav {
	background-color: scale-color($secondary-color, $lightness: 60%)
}

/** Main content **/
main,
.main {
	background: $tertiary-color;	
}
main {
	background: url("/static/images/header.jpg") top center no-repeat;
	background-size: cover;
	height: 600px;
}

/** Footer **/

footer {
	padding: 1rem 0;

	.logo {
		img {
			max-width: 120px;
		}
	}
}

@include foundation-everything;