@import 'settings';
@import '../vendor/foundation-sites/scss/foundation';

@import '../vendor/motion-ui/motion-ui';

/**
 *	Global
 *		Categories (colours)
 *		Responsive iframes
 *		Pagination
 *	Header
 *	Navigation
 *	Main content
 *		Blog
 *		Panels / Callouts
 *	Footer
 */

/** Global **/

body {
	background: url("/static/images/half-right2.png") right 0 fixed no-repeat, url("/static/images/half-left.png") left 0 fixed no-repeat !important;
}

a {
	color: $secondary-color;
}

.black-bar {
	width: 100%;
	height: 55px;
	background: black;
	display: block;
}

.date,
.place,
address,
date {
	color: scale-color(black, $lightness: 50%);
	margin: 0;
	font-size: .875rem;
}

.left {
	float: left;
	padding: .5rem 1rem 1rem 0;
}

/* Categories (colours) */

.category {
	text-transform: uppercase;
}

.conference {
	color: #e05924;
}

.conference-bg {
	background-color: #e05924;
}

.exhibition {
	color: #004b63;
}

.exhibition-bg {
	background-color: #004b63;
}

.performance {
	color: #126953;
}

.performance-bg {
	background-color: #126953;
}

.publication {
	color: #ffab80;
}

.publication-bg {
	background-color: #ffab80;
}

.screening {
	color: #ff9e2f;
}

.screening-bg {
	background-color: #ff9e2f;
}

.talk {
	color: #720039;
}

.talk-bg {
	background-color: #720039;
}

// Responsive iframe

.iframe-container {

    position: relative;
    padding-bottom: 33.33%;
    padding-top: 35px;
    margin: 1rem 0;
    height: 0;
    overflow: hidden;
    border: 3px solid scale-color($primary-color, $lightness: 50%);
    clear: both;

    iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

/* Pagination */

.pagination {
	display: block;
	clear: both;
	color: $black;
}

/** Header **/

header,
footer {
	color: white;
	a {
		color: white;
	}
	h1 {
		margin: 0;
		// line-height: 1;
		img {
			padding: 0 20px 20px;
		}
		&.s400 {
			line-height: 0;
			background: white;
			text-align: center;
		}
	}
}

// header {
// 	margin-bottom: 70px;
// }

.kcl {
	// position: absolute;
	// top: 0;
	margin-top: -55px;
	background: white;
	img {
		width: 100%;
	}
	// max-width: 200px;
}

/** Navigation **/

// .sidebar {
// 	background: url("/static/images/header.jpg") center 600px no-repeat;
// 	background-size: 100%;
// }

// .sidebar {
// 	img.smoke {
// 		width: 115% !important;
// 		max-width: 115% !important;
// 	}
// }

	.sidebar {
		background: rgba(255, 255, 255, .7);
	}

.menu.search {
	margin-top: 3rem;
}

.menu.vertical {
	background: $primary-color;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	a {
		color: white;
		&:hover {
			background: scale-color($primary-color, $lightness: -20%);
		}
	}
	li {
		border-bottom: 1px solid scale-color($primary-color, $lightness: -20%);
	}
}

/** Main content **/

.main,
.post {
	h1 {
		color: $primary-color;
		margin-top: 1rem;
		a {
			color: $primary-color;
		}
	}
}

.blog-title {
	margin-top: 0 !important;
}

.main a {
	font-weight: 700;
}

.image {
	margin-bottom: 1rem;
	display: block;
}

/* Blog */


.blog-title {
	color: white !important;
	font-size: 2rem;
	margin: 0;
	span {
		background: black;
		padding: 1rem;
	}
	a {
		color: white;
	}
}

.post {
	margin-top: 50px;
	color: $black;
	header {
		color: $black;
		a {
			color: $primary-color;
		}
	}
}

.posttitle {
	margin-bottom: 1rem;
}

/* Panels / Callouts */

.callout {
	border: none !important;
	border-top: 7px solid scale-color($primary-color, $lightness: 60%) !important;
	// box-shadow: 3px 3px 4px $primary-color;
	background-color: rgba(255, 255, 255, .7) !important;

	h5 {
		font-weight: 700;
		color: $primary-color;

		a {
			color: $primary-color;
		}
	}
}

.callout.alert {
	margin-top: 1rem;
	border: 1px solid scale-color($primary-color, $lightness: 70%) !important;
}

/** Footer **/

footer {
	padding: 1rem 0;

	.logo {
		img {
			max-width: 120px;
		}
		background-color: white;
	}

	a {
		color: $primary-color;
	}
}

.footer {
	background: scale-color($secondary-color, $lightness: 60%);
}


@media #{$small-only} {
	// Fixes image overflow on small screens
	// .sidebar {
	// 	img.smoke {
	// 		width: 100% !important;
	// 		max-width: 100% !important;
	// 	}
	// }
	body {
		background: none !important;
	}
}

@include motion-ui-transitions;
@include foundation-everything;