{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}
<h1>
    Search
</h1>
{% endblock %}

{% block main %}

{% if search_results %}
<h2 class="search-results"><strong>{{ search_results.paginator.count }}</strong> result(s) found for <strong>{{ search_query }}</strong></h2>
<ol start="{{ search_results.start_index }}" class="search-results">
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description|safe }}
        {% endif %}
    </li>
    {% endfor %}
</ol>

{% include "cms/includes/pagination.html" with pages=search_results %}

{% elif search_query %}
No results found
{% else %}
Please type something into the search box
{% endif %}

{% endblock %}