{% load cms_tags %}

<div class="feeds">
    <h3>
        <a href="{% get_twitter_url %}">
            <i class="fa fa-twitter-square"></i> Follow us on Twitter
        </a>
    </h3>

    {% get_twitter_widget_id as twitter_widget_id %}
    {% if twitter_widget_id %}
    <a class="twitter-timeline" data-dnt="true" href="{% get_twitter_url %}" data-widget-id="{{ twitter_widget_id }}" data-chrome="nofooter noheader transparent" data-tweet-limit="2" data-aria-polite="assertive">Tweets by @{% get_twitter_name %}</a>
    {% endif %}
</div>