{% load cms_tags staticfiles %}

{% block main_menu %}
{% get_site_root as site_root %}
{% main_menu root=site_root current_page=self %}
{% endblock %}

<ul class="no-bullet">
    <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a> <a href="http://twitter.com/shakespeare400"><i class="fa fa-twitter-square fa-2x"></i></a></li>
</ul>

<div class="more-menu">
    <h5>Browse by category</h5>
    <ul class="no-bullet category">
        <li><a href="#" class="conference"><i class="fa fa-circle conference"></i> Conference</a></li>
        <li><a href="#" class="exhibition"><i class="fa fa-circle exhibition"></i> Exhibition</a></li>
        <li><a href="#" class="performance"><i class="fa fa-circle performance"></i> Performance</a></li>
        <li><a href="#" class="publication"><i class="fa fa-circle publication"></i> Publication</a></li>
        <li><a href="#" class="screening"><i class="fa fa-circle screening"></i> Screening</a></li>
        <li><a href="#" class="talk"><i class="fa fa-circle talk"></i> Talk</a></li>
    </ul>
</div>