{% load cms_tags staticfiles wagtailroutablepage_tags %}

{% block main_menu %}
{% get_site_root as site_root %}
{% main_menu root=site_root current_page=self %}
{% endblock %}

<ul class="no-bullet">
    <li><a href="{% get_facebook_url %}"><i class="fa fa-facebook-square fa-2x"></i></a> <a href="{% get_twitter_url %}"><i class="fa fa-twitter-square fa-2x"></i></a></li>
</ul>

{% comment %}
{% get_event_categories as categories %}
{% get_event_index_page as eip %}

<div class="more-menu">
    <h5>Events by category</h5>
    <ul class="no-bullet category">
        {% for category in categories %}
        {% with title=category.title %}
        <li>
            <a href="{%if eip %}{% routablepageurl eip 'category' title %}{% else %}#{% endif %}" class="{{ title|lower }}">
                <i class="fa fa-circle {{ title|lower }}"></i> {{ title }}
            </a>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endcomment %}