{% load staticfiles compress require %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block meta_title %}{% endblock %} | King's Shakespeare400</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% compress css %}
	{# SCSS compilation relies on django compressor #}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
	<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/font-awesome/scss/font-awesome.scss' %}">
	{% endcompress %}

	<!-- define requirejs config settings. -->
	<script type="text/javascript">
		{% include 'includes/config.js' %}
	</script>
	{% require_module 'config' %}

</head>
<body>
	<div class="black-bar">
	</div>
	<div class="row">
		<div class="medium-3 columns sidebar">
			<header>
				{% include 'includes/header.html' %}
			</header>
			<nav>
				{% include 'includes/navigation.html' %}
			</nav>
		</div>

		<div class="medium-9 columns">
			<section class="main">
				{% block title %}{% endblock %}
				{% block main %}
				{% endblock %}
			</section>
		</div>

		<div class="large-12 columns footer">
			<footer>
				{% block footer %}
				{% include 'includes/footer.html' %}
				{% endblock %}
			</footer>
		</div>
	</div>

	{# Foundation and JQuery stuff #}
	<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/foundation-sites/dist/foundation.min.js' %}"></script>

	{% compress js %}
	<script src="{% static 'js/app.js' %}"></script>
	{% endcompress %}

	<script>
		$(document).foundation();
	</script>
</body>
</html>