{% extends "cms/base.html" %}
{% load wagtailimages_tags %}

{% block meta_title %}{{ self.title }} | {{ collection.collection.name }}{% endblock %}

{% block title %}
<h1 class="cat-title">
    <span class="bookmark collectionpage">&nbsp;</span>
    {{ collection.collection.name }}
</h1>
{% endblock %}

{% block main %}

<div class="row">
    {% for image in collection.images %}
    <div class="small-6 medium-3 large-2 columns end">
        {% image image width-200 as thumb %}
        <a data-open="open-reveal"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ thumb.image.title }} thumbnail"></a>
    </div>
    {% endfor %}

    <div class="reveal large" id="open-reveal" data-reveal>
	    <div class="slick-slider" aria-label="{{ collection.collection.name }}">
	    	
	    		{% for image in collection.images %}
	    		<div>
	    			{% image image width-600 as fullsize %}
	    			<img src="{{ fullsize.url }}" alt="{{ fullsize.image.title }}">
	    			<figcaption>{{ fullsize.image.title }}</figcaption>
	    		</div>
	    		{% endfor %}

	    </div>
    </div>
</div>

{% endblock %}
