{% extends "cms/index_page.html" %}
{% load wagtailcore_tags %}

{% block title %}<h1 class="cat-title"><span class="bookmark eventpage"></span> Events</h1>{% endblock %}

{% block main %}

{% block posts_tagged_as %}
{% if filter_type == 'category' %}
<h2>Showing events for {{ filter|safe }} <a href="{% pageurl self %}">Show all</a></h2>
{% endif %}
{% endblock %}

{% block posts_by_date %}
{% if filter_type == 'date' %}
<h2>Showing events on {{ filter|date:filter_format }} <a href="{% pageurl self %}">Show all</a></h2>
{% endif %}
{% endblock %}

{% block index_page_children %}
{% include "cms/includes/event_index_events.html" with class="events" %}
{% endblock %}

{% endblock %}